@import "./tailwind.css";
@import "./base.css";
@import "./light.css";

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

button {
  background-color: hsla(160, 100%, 37%, 1);
  color: white;
  font-size: 15px;
  padding: 4px 25px;
  border: 1px solid rgb(0, 136, 91);
  border-radius: 5px;
  word-spacing: 10px;
  cursor: pointer;
  margin: 0;
}

button:hover {
  background-color: rgb(3, 170, 114);
}
